*~
\#*
target
/provisioning/ansible.log
/tools/generator/nbproject/
**/*.retry
**/target
**/.settings
**/.classpath
**/.project
**/nbproject
**/*.iml
*.log
*.class
*.epoch
.DS_Store
**/*.log
**/.DS_Store
Cbord*.txt
**/webapp/docs/*.html
**/webapp/docs/*.json
**/webapp/docs/*.csv
/service-config/nbproject/
/.idea/
**/node_modules
**/package-lock.json
**/DATA-CONVERSION-METRICS-LOGS
/database/seeddata/scripts/dataset/
*.[Zz][Ii][Pp]
*.[Jj][Aa][Rr]
*.[Ss][Ww][Ff]
*.[Gg][Zz]
*.[Gg][Zz][Ii][Pp]
*.[Ee][Xx][Ee]
*.[Ee][Nn][Vv]
mvn_tmp*
*.swo
*.swp
.vscode/
*.class
student-accounts/application/angularjs/.npmrc
automated-tests/Selenium_Post_Prod_afts/Output/
.factorypath
automated-tests/Selenium_Post_Prod_afts/Output/Executed Test Cases/Screenshots/
# Ignore Python bytecode files
*.pyc

